 .Text-Box > p {
    width: 45%;
    font-size: 2vh;
    align-self: center;
} .Text-Box2 > p {
    font-size: 2vh;
} .Audio-Box {
     display: flex;
     flex-wrap: nowrap;
     justify-content: center;
     border-radius: 50%;
     border: 1px solid white;
     background: rgb(197,36,126);
     background: radial-gradient(circle, rgba(197,36,126,0.9500393907563025) 0%, rgba(255,0,142,0.10970325630252098) 71%);
} button {
     border-radius: 2em;
     color: white;
     text-decoration: none;
     padding: 15px;
     background: none;
 } .FlexBox2 {
      align-items: center;
} .FlexBoxCV {
      display: flex;
      width: 90%;
      flex-direction: column;
      justify-content: center;
                padding-left: 5%;

} .FlexBoxCV > img {
      border: 4px solid white;
      border-radius: 10px;
}


